.scaled-image {
    max-height: 80vh; /* Bildhöhe auf die Grenze des Browsers beschränken */
    width: auto; /* Breite automatisch an die Höhe anpassen */
    object-fit: contain; /* Behält das Seitenverhältnis des Bildes bei, während es skaliert wird */
    pointer-events: auto;
}


header {
    height: auto; /* Make the height flexible */
    min-height: 50px; /* Set a minimum height */
    font-size: 40px;
}


h1 {
    font-family: 'Lobster', cursive; /* Apply the Lobster font */
    font-weight: bold; /* Make the text thick */
    text-align: center; /* Center the text */
    background-color: #b9b9b9;
}

footer {
    padding: 30px; /* Add padding */
    color: #000000;
    flex-shrink: 0;
    min-height: 100vh; /* Set a minimum height */
}

.grid {
    background-color: #ffffff;
}

.containerLeft {
    width: fit-content;
    background-color: #ffffff;
    flex: 0 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button-guess {
    background-color: #0e55b4; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button a block element */
    font-size: 16px; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    border-radius: 12px; /* Set a rounded border */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 10px 24px; /* Add some padding */
    width: 80%; /* Set the width */
}

.containerRight {
    flex-grow: 1;
    padding-right: 20px; /* Add padding to the right */
}

.text {
    font-size: 20px; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    padding: 1px; /* Add padding */
}

.containerAll .grid {
    display: flex;
}


