.scaled-image {
    max-height: 80vh; /* Bildhöhe auf die Grenze des Browsers beschränken */
    width: auto; /* Breite automatisch an die Höhe anpassen */
    object-fit: contain; /* Behält das Seitenverhältnis des Bildes bei, während es skaliert wird */
}

h1 {
    font-family: 'Lobster', cursive; /* Apply the Lobster font */
    font-weight: bold; /* Make the text thick */
    text-align: center; /* Center the text */
    background-color: #174f3e;
    font-size: 40px; /* Set the font size to 40 pixels */
}

.containerLeft {
    width: fit-content;
    background-color: blue;
}

.containerRight {
    background-color: blueviolet;
}

.containerAll .grid {
    display: flex;
}

.containerAll .grid .containerLeft {
    flex: 0 0 auto; /* This will make the containerLeft div not grow or shrink and its base size will be auto */
}

.containerAll .grid .containerRight {
    flex-grow: 1; /* This will make the containerRight div take up the remaining space */
}


